/* reset */
ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn-open {
  padding: 10px;
  width: 300px;
  border-radius: 40px;
  border: 0;

  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: background-color 0.3s, color 0.3s;
}
.btn-open:hover {
  background-color: #fff;
  color: royalblue;
}

.popup {
  width: 300px;
  height: 240px;
  background-color: royalblue;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;

  text-align: center;
  font-size: 14px;
  line-height: 1.6;
}

/* 검은 배경 */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.popup.active,
.popup.active + .dim {
  display: block;
}

.menu {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.menu li a {
  display: block;
  padding: 0.4em 1.5em;
  background-color: #fff;
  color: royalblue;
  border-radius: 40px;
  font-size: 0.8em;
}

.btn-close {
  border: 0;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-close img {
  width: 100%;
  display: block;
}
