// .box {
//     &:focus{} // 가상선택자
//     &:hover{}
//     &:active{}
//     &:first-child{} 
//     &:nth-child(2){}
//     &::after{} // 가상요소
//     &::before{} 
// }

.one {
    .box {
        height: 100px;
        width: 100px;
        background-color: red;
        transition: all 0.5s;

        &:hover {
            background-color: green;
        }
    }
}