ul {
    li {
        &:hover {
            background: white;
            cursor: pointer;
        }

        &:last-child {
            border: 2px solid black;
        }
    }
}

ol {
    border: 1px solid black;

    li {
        &:nth-child(1) {
            color: red;
        }

        &:nth-child(2) {
            color: green;
        }

        &:nth-child(3) {
            color: blue;
        }
    }
}