$font-h1 : 32px;
$font-size : 10px 12px 16px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

// h1 {
//     font-size: $font-h1;
// }

h1 {
    font-size: nth($font-size, 2);
    font-weight: map-get($font-weights, "medium");
}