.custom-input,
.custom-input2,
.custom-radio {
  appearance: none;
  width: 1.4em;
  height: 1.4em;
  margin: 0 4px 3px 0;
  vertical-align: middle;
  transition: all 0.3s;
}
.custom-input {
  background: url(./img/check1.svg) no-repeat center / 90%;
}
.custom-input:checked {
  background-image: url(./img/check1-checked.svg);
}
.custom-input:checked + label,
.custom-input2:checked + label {
  font-weight: bold;
  color: royalblue;
}

.custom-input2 {
  background: url(./img/check2.svg) no-repeat center / 90%;
}
.custom-input2:checked {
  background-image: url(./img/check2-checked.svg);
}
.custom-radio {
  background: url(./img/radio.svg) no-repeat center / 90%;
}
.custom-radio:checked {
  background-image: url(./img/radio-checked.svg);
}

/* select */
select {
  color: inherit;
}
.custom-select1 {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 0 14px;
  appearance: none;
  background: url(./img/select.svg) no-repeat calc(100% - 15px) / 1em;
  font-size: 14px;
}

.custom-select1:focus {
  outline: none;
  border-color: #9b51e0;
  box-shadow: 0 0 0 3px #f8e4ff;
}

/* custom-select */
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}
button,
ul,
li {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
.custom-select {
  width: 200px;
  position: relative;
  margin-bottom: 9px;
}
.custom-select > button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  padding: 0 14px;
  font-size: 14px;
  text-align: left;
}
.custom-select > button::after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  background: url(./img/select.svg) no-repeat center / 1em;
  position: absolute;
  top: 50%;
  right: 1.2em;
}

.custom-select ul {
  border: 1px solid #c4c4c4;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 10px 8px;
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.custom-select ul li + li {
  margin-top: 10px;
}
.custom-select ul li button {
  width: 100%;
  height: 30px;
  text-align: left;
  border-radius: 8px;
  padding: 0 10px;
}
.custom-select ul li button:hover {
  background: #f8e4ff;
}

/* active */
.custom-select.active > button::after {
  transform: rotate(180deg);
}
.custom-select.active > button,
.custom-select > button:focus {
  outline: none;
  border-color: #9b51e0;
  box-shadow: 0 0 0 3px #f8e4ff;
}
.custom-select ul {
  display: none;
}
.custom-select.active ul {
  display: block;
  z-index: 1;
}
