body {
  background: rosybrown;
}

h2,
p {
  margin: 0;
}

.card-item a {
  text-decoration: none;
  color: #29363d;
  display: block;
  width: 288px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.card-item img {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  vertical-align: top;
}

.card-text {
  padding: 24px 16px 16px;
}

.card-text .title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text .title + p {
  font-size: 12px;
  color: #5a6a72;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  margin: 12px 0 16px;
  line-height: 20px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  padding-left: 6px;
}
