/* reset */
body,
h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* font */
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 16px;
  color: #121314;
}

strong {
  font-family: "SpoqaHanSansNeo-Bold";
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
