body {
  background: rosybrown;
}

h2,
p {
  margin: 0;
}

.card-item a {
  text-decoration: none;
  color: #29363d;
  display: block;
  /* width: 288px; */
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.card-item img {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
  vertical-align: top;
}

.card-text {
  padding: 24px 16px 16px;
}

.card-text .title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text .title + p {
  font-size: 12px;
  color: #5a6a72;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  margin: 12px 0 16px;
  line-height: 20px;
  height: 40px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  padding-left: 6px;
}

.container {
  width: min(1224px, 100% - 60px);
  margin: auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

.container article {
  float: left;
  width: calc((100% - (24px * 3)) / 4);
  margin: 0 0 32px 24px;
  /* margin: 0 24px 32px 0; */
}

@media (1025px <= width) {
  /* 1025px 이상은 이 블록 안에 코드 적용 */
}
@media (min-width: 1025px) {
  .container article:nth-child(4n-3) {
    margin-left: 0;
  }
}

@media (641px <= width <= 1024px) {
  /* 641px이상 1024px이하는 이 블록 안에 코드 적용 */
}

@media (min-width: 641px) and (max-width: 1024px) {
  .container article {
    width: calc((100% - (24px * 2)) / 3);
  }
  .container article:nth-child(3n-2) {
    margin-left: 0;
  }
}

@media (min-width: 501px) and (max-width: 640px) {
  .container article {
    width: calc((100% - 24px) / 2);
  }
  .container article:nth-child(2n-1) {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  /* 641px이하는  이 블록 안에 코드 적용 */
  .container article {
    width: 100%;
    margin-left: 0;
  }
}
