#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal .modal-wrap {
    display: inline-block;
    padding: 70px 100px;
    background-color: #fff;
    border-radius: 20px;
    color: #5B2386;
}

#modal .modal-wrap h2 {
    font-size: 60px;
}

#modal .modal-wrap h3 {
    font-size: 30px;
}

#modal .modal-wrap img {
    max-width: 340px;
    margin: 0 auto 20px;
}