/* reset */
ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn-open {
  width: 100px;
  height: 36px;
  border-radius: 40px;

  border: 0;
  background-color: #d97652;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.popup {
  width: 300px;
  height: 240px;
  background-color: #f2e9d8;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
}

/* 검은 배경 */
.dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.popup.active,
.popup.active + .dim {
  display: block;
}

.menu li {
  border-bottom: 1px solid #fff;
}
.menu li a {
  display: block;
  padding: 10px;
}

.btn-close {
  border: 0;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-close img {
  width: 100%;
  display: block;
}
