/* main */
main {
  width: 392px;
  margin: 71px auto 52px;
}
main h1 {
  text-align: center;
  font-size: 24px;
}
main h1 img {
  display: block;
  height: 120px;
  margin: auto;
  margin-bottom: 29px;
}
main h1 strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.2);
  border-bottom: 2px solid #ff4f6e;
}

footer p {
  text-align: center;
  font-size: 12px;
  color: #677880;
}
